html {
  height: 100%;
  width: 100%;
}

/* Medula One Font*/

@font-face {
  font-family: 'Medula One';
  src: url("../fonts/MedulaOne-Regular.ttf");
}

body {
  background-color: #000000;
  padding: none;
  margin: none;
}

/* Estilo do cabeçalho */

header {

  margin: 0 auto;

  width: 100%;

  height: 70px;

  position: fixed;

  top: 0;

  left: 0;

  display: flex;

  align-items: center;

  justify-content: space-around;

  background-color: rgb(2, 2, 2, 0.5);

  box-shadow: 0px 0px 10px #000000;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Estilos da nav */

nav {
  margin: 0 auto;

  width: 100%;

  height: 70px;

  position: fixed;

  display: flex;

  align-items: center;

  justify-content: space-around;

  background-color: transparent;
}

nav-show {

  opacity: 0;
}


nav li {

  text-align: left;
  width: 100%;

}

nav ul {
  list-style-type: none;

  margin: 0 auto;

  width: 100%;

  height: 70px;

  position: fixed;

  align-items: left;

  justify-content: flex-end;

  background-color: transparent;

  list-style: none;

  display: inline-flex;

}



nav a {

  color: #ffffff;

  text-decoration: none;

  font-size: 18px;

  cursor: pointer;

}

/* Organização do Home */

.home {
  padding: 10px;
  padding-left: 20px;
  padding-top: 33px;
}

#home {
  color: #ffff;
  cursor: pointer;
}

#home:hover {
  color: #EC953F;
  transition: 0.3s;
}

/* Organização do icone de usuario */

.user {
  margin-left: auto;
  padding: 10px;
  padding-right: 60px;
  padding-top: 25px;
}

.user-options {
  display: none;
  position: absolute;
  background-color: #222;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user-options a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #EC953F;
}

.user-options a:hover {
  background-color: #101010;
}



/* Tela Inicial */

#main_background {
  background-image: url("../backgrounds/WC.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin-bottom: 0;
}

/* Estilo do titulo */

#main_content {
  text-align: center;
}

#title {
  color: #fff;
  font-size: 150px;
  font-family: 'Medula One';
  letter-spacing: 2px;
  margin-top: 170px;
  margin-bottom: 0px;
  font-size: 150px;
  display: inline-block;
  position: relative;
}

#title:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5px; /* Altura da borda */
  background: linear-gradient(to right, #FF3131, #FF914D);
  z-index: -1;
}

<<<<<<< HEAD

/* Animação do titulo */

/*@keyframes flicker {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #EC953F, 0 0 35px #EC953F, 0 0 40px #EC953F, 0 0 50px #EC953F;
    /* Initial shadow settings */
/*  }

  25% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #EC953F, 0 0 35px #EC953F, 0 0 40px #EC953F, 0 0 50px #EC953F, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #EC953F, 0 0 35px #EC953F, 0 0 40px #EC953F;
    /* Additional shadows for flickering effect */
/*  }

  50% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #EC953F, 0 0 35px #EC953F, 0 0 40px #EC953F, 0 0 50px #EC953F;
    /* Reset to original shadows */
 /* }

  75% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #EC953F, 0 0 35px #EC953F, 0 0 40px #EC953F, 0 0 50px #EC953F, 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #EC953F, 0 0 35px #EC953F, 0 0 40px #EC953F;
    /* Additional shadows for flickering effect */
 /* }

  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #EC953F, 0 0 35px #EC953F, 0 0 40px #EC953F, 0 0 50px #EC953F;
    /* Final shadow settings */
/*  }
}

=======
>>>>>>> 75d87707fbd03b5feeedf4bf1b5ad2b7138b6106
/* Subtitulo */

#subtitle {
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Botão */

#botoes {
  display: flex;
  justify-content: center;
  align-items: right;
  margin-top: 5%;
}

.comecar {
  background: linear-gradient(to right, #FF3131, #FF914D);
  color: #ffffff;
  border-radius: 20px;
  border: none;
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
}

.comecar:hover {
  box-shadow: 0 12px 16px 0 rgb(0, 0, 0, 0.24), 0 17px 50px 0 rgb(0, 0, 0, 0.19);
  transition: 1s;
}

#more {
  height: 1500px;
  width: 100%;
  position: relative;
  text-align: center;
}

#more_background {
  background-color: #000;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: 100%;
}

#more_title {
  color: transparent;
  background: linear-gradient(to right, #FF3131, #FF914D);
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  width: 1000px;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#more_subtitle {
  color: #ffff;
  position: absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  position: absolute;
  width: 1000px;
  top: 17%; /* Ajuste a porcentagem conforme necessário */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  line-height: 1.4;

}

#veja_mais {
  text-align: center;
  padding-top: 30px;
  color:#fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transition: all 1s;
}


/* Adaptação para telas menores */
@media screen and (max-width: 768px) {
}