<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>WizCont.</title>
    <link th:href="@{styles/css/appStyles.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{styles/instascan.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.4/html5-qrcode.min.js" integrity="sha512-k/KAe4Yff9EUdYI5/IAHlwUswqeipP+Cp5qnrsUjTPCgl51La2/JhyyjNciztD7mWNKLSXci48m7cctATKfLlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  </head>
  <body id="light-theme">   
    <div id="sidebar" class="sidebar">
      <div id="profile" class="profile">
          <div class="profile-image"></div>
          <div class="profile-info">
              <p id="profile-text">Nome da Pessoa</p>
          </div>
      </div>
      <ul class="nav-links">
          <li><a class="nav-text" href="#estoque" onclick="mostrarEstoque()"   >Estoque</a></li>
          <li><a class="nav-text" href="#cardapio" onclick="mostrarCardapio()" >Cardápio</a></li>
          <li><a class="nav-text" href="#notificacao" onclick="mostrarNotificacao()" >Notificações</a></li>
          <li><a class="nav-text" href="#perfil" onclick="mostrarPerfil()" >Perfil</a></li>
          <li><a class="nav-text" href="#config" onclick="mostrarConfiguracao()" >Configurações</a></li>
      </ul>
  </div>

    <!-- Conteúdos -->
    <div id="conteudo">
      <!-- Conteúdo da página de Estoque -->
        <!------- Alimentos ------->
        <div id="estoque" style="display: none;">
          
          <h2 id="titleestoque">Alimentos</h2>
          
          <div class="category">
            <div class="sub-box">
              <h2 class="subtitleestoque">Proteína animal</h2>
              <button class="add-product" onclick="adicionarItem('Carnes')">Adicionar</button>
            </div>
            <div class="card-container" id='Carnes-list'>
              <div class="card"  id="cards" th:each="item : ${itensBanco}" th:if="${item.categoria == T(com.webapp.Wizcont.model.enums.StatusCategoria).Carnes}" th:attr="data-idItem=${item.id_Item}, data-nome=${item.nome_item}, data-qtdItem=${item.qtd_item}, data-medidaItem=${item.medida}, data-categoria=${item.categoria}">
                  <a class="itemName" th:text="${item.nome_item}"></a>
                  <input class="input-card" th:id="'qtdItemInput-' + ${item.id_Item}" type="number" th:placeholder="${item.qtd_item}" th:value="${item.qtd_item}" style="width: 80px; background-color: #f2f2f2;">
                  <select  class="measurements" th:name="'medidaItem_' + ${itemStat.index}">
                    <option th:each="medida : ${T(com.webapp.Wizcont.model.enums.StatusMedida).values()}" th:value="${medida.name()}" th:text="${medida.name()}" th:selected="${item.medida.name() == medida.name()}"></option>
                </select>
                  <button th:text="Excluir"  id="botao-excluir" class="btn-excluir"></button>
                  <script>
                    document.getElementById('qtdItemInput-[[${item.id_Item}]]').addEventListener('input', function() {
                        var newValue = this.value;
                        this.setAttribute('newData-qtdItem', newValue);
                    });
                </script>
              </div>
            </div>  
          </div>

          <div class="category">
            <div class="sub-box">
              <h2 class="subtitleestoque">Frutas</h2>
              <button class="add-product" onclick="adicionarItem('Frutas')">Adicionar</button>
            </div>
            <div class="card-container" id="Frutas-list">
              <div class="card" id="cards" th:each="item : ${itensBanco}" th:if="${item.categoria == T(com.webapp.Wizcont.model.enums.StatusCategoria).Frutas}" th:attr="data-idItem=${item.id_Item}, data-nome=${item.nome_item}, data-qtdItem=${item.qtd_item}, data-medidaItem=${item.medida}, data-categoria=${item.categoria}">                  <td id="Item" th:text="${item.nome_item}"></td>
                  <input class="input-card" th:id="'qtdItemInput-' + ${item.id_Item}" type="number" th:placeholder="${item.qtd_item}" th:value="${item.qtd_item}" style="width: 80px; background-color: #f2f2f2;">
                  <select th:name="'medidaItem_' + ${itemStat.index}">
                    <option th:each="medida : ${T(com.webapp.Wizcont.model.enums.StatusMedida).values()}" th:value="${medida.name()}" th:text="${medida.name()}" th:selected="${item.medida.name() == medida.name()}"></option>
                  </select>
                  <button th:text="Excluir" id="botao-excluir" class="btn-excluir"></button>
                  <script>
                    document.getElementById('qtdItemInput-[[${item.id_Item}]]').addEventListener('input', function() {
                        var newValue = this.value;
                        this.setAttribute('newData-qtdItem', newValue);
                    });
                  </script> 
              </div>
            </div>
          </div>

          <div class="category">
            <div class="sub-box">
              <h2 class="subtitleestoque">Grãos</h2>
              <button class="add-product"  onclick="adicionarItem('Grãos')">Adicionar</button>
            </div>
            <div class="card-container" id="Grãos-list"></div>
            <div class="card" id="cards" th:each="item : ${itensBanco}" th:if="${item.categoria == T(com.webapp.Wizcont.model.enums.StatusCategoria).Grãos}" th:attr="data-idItem=${item.id_Item}, data-nome=${item.nome_item}, data-qtdItem=${item.qtd_item}, data-medidaItem=${item.medida}, data-categoria=${item.categoria}">
                <td id="Item" th:text="${item.nome_item}"></td>
                <input class="input-card" th:id="'qtdItemInput-' + ${item.id_Item}" type="number" th:placeholder="${item.qtd_item}" th:value="${item.qtd_item}" style="width: 80px; background-color: #f2f2f2;">
                <select th:name="'medidaItem_' + ${itemStat.index}">
                  <option th:each="medida : ${T(com.webapp.Wizcont.model.enums.StatusMedida).values()}" th:value="${medida.name()}" th:text="${medida.name()}" th:selected="${item.medida.name() == medida.name()}"></option>
              </select>
              <button id="botao-excluir" th:text="Excluir"  class="btn-excluir"></button>
              <script>
                  document.getElementById('qtdItemInput-[[${item.id_Item}]]').addEventListener('input', function() {
                      var newValue = this.value;
                      this.setAttribute('newData-qtdItem', newValue);
                  });
              </script>             
              </div>
          </div>

          <div class="category">
            <div class="sub-box">
              <h2 class="subtitleestoque">Legumes</h2>
              <button class="add-product"  onclick="adicionarItem('Legumes')">Adicionar</button>
            </div>           
            <div class="card-container" id="Legumes-list"></div>
            <div class="card" id="cards" th:each="item : ${itensBanco}" th:if="${item.categoria == T(com.webapp.Wizcont.model.enums.StatusCategoria).Legumes}" th:attr="data-idItem=${item.id_Item}, data-nome=${item.nome_item}, data-qtdItem=${item.qtd_item}, data-medidaItem=${item.medida}, data-categoria=${item.categoria}">
                <td id="Item" th:text="${item.nome_item}"></td>
                <select th:name="'medidaItem_' + ${itemStat.index}">
                  <option th:each="medida : ${T(com.webapp.Wizcont.model.enums.StatusMedida).values()}" th:value="${medida}" th:text="${medida.name()}" th:selected="${item.medida == medida}"></option>
              </select>
              <input class="input-card" th:id="'qtdItemInput-' + ${item.id_Item}" type="number" th:placeholder="${item.qtd_item}" th:value="${item.qtd_item}" style="width: 80px; background-color: #f2f2f2;">
              <button id="botao-excluir" th:text="Excluir"  class="btn-excluir"></button>
              <script>
                  document.getElementById('qtdItemInput-[[${item.id_Item}]]').addEventListener('input', function() {
                      var newValue = this.value;
                      this.setAttribute('newData-qtdItem', newValue);
                  });
              </script>             </div>
          </div>

          <div class="category">
            <div class="sub-box">
              <h2 class="subtitleestoque">Vegetais</h2>
              <button class="add-product"  onclick="adicionarItem('Vegetais')">Adicionar</button>
            </div>
            <div class="card-container" id="Vegetais-list"></div>
            <div class="card" id="cards"th:each="item : ${itensBanco}" th:if="${item.categoria == T(com.webapp.Wizcont.model.enums.StatusCategoria).Vegetais}" th:attr="data-idItem=${item.id_Item}, data-nome=${item.nome_item}, data-qtdItem=${item.qtd_item}, data-medidaItem=${item.medida}, data-categoria=${item.categoria}">
                <td id="Item" th:text="${item.nome_item}"></td>
                <input class="input-card" th:id="'qtdItemInput-' + ${item.id_Item}" type="number" th:placeholder="${item.qtd_item}" th:value="${item.qtd_item}" style="width: 80px; background-color: #f2f2f2;">
                <select th:name="'medidaItem_' + ${itemStat.index}">
                  <option th:each="medida : ${T(com.webapp.Wizcont.model.enums.StatusMedida).values()}" th:value="${medida}" th:text="${medida.name()}" th:selected="${item.medida == medida}"></option>
              </select>
              <button id="botao-excluir" th:text="Excluir"  class="btn-excluir"></button>
              <script>
                  document.getElementById('qtdItemInput-[[${item.id_Item}]]').addEventListener('input', function() {
                      var newValue = this.value;
                      this.setAttribute('newData-qtdItem', newValue);
                  });
              </script>             </div>
          </div>

          <div class="category">
            <div class="sub-box">
              <h2 class="subtitleestoque">Verduras</h2>
              <button class="add-product"  onclick="adicionarItem('Verduras')">Adicionar</button>
            </div>          
            <div class="card-container" id="Verduras-list"></div>
            <div class="card" th:each="item : ${itensBanco}" th:if="${item.categoria == T(com.webapp.Wizcont.model.enums.StatusCategoria).Verduras}" th:attr="data-idItem=${item.id_Item}, data-nome=${item.nome_item}, data-qtdItem=${item.qtd_item}, data-medidaItem=${item.medida}, data-categoria=${item.categoria}">
                <td th:text="${item.nome_item}"></td>
                <input class="input-card" th:id="'qtdItemInput-' + ${item.id_Item}" type="number" th:placeholder="${item.qtd_item}" th:value="${item.qtd_item}" style="width: 80px; background-color: #f2f2f2;">
                <select th:name="'medidaItem_' + ${itemStat.index}">
                  <option th:each="medida : ${T(com.webapp.Wizcont.model.enums.StatusMedida).values()}" th:value="${medida}" th:text="${medida.name()}" th:selected="${item.medida == medida}"></option>
              </select>
              <button id="botao-excluir" th:text="Excluir"  class="btn-excluir"></button>
              <script>
                  document.getElementById('qtdItemInput-[[${item.id_Item}]]').addEventListener('input', function() {
                      var newValue = this.value;
                      this.setAttribute('newData-qtdItem', newValue);
                  });
              </script>             
              </div>
          </div>

          <div class="container">
            <button th:onclick="trocarSecao()">Trocar Seção</button>
            <button onclick="saveItens()">Salvar</button>
          </div>
          
        </div>

        <!------- Limpeza ------->

        <div id="estoque-limp" style="display: none;">
          <h2 id="titleLimp">Limpeza</h2>
        
          <div class="category-limp">
            <h2 class="subtitleLimp">Piso</h2>
            <div class="card-container" id="piso-list"></div>
            <button onclick="adicionarItemLimp('piso')">+</button>
          </div>
          
          <div class="category-limp">
            <h2 class="subtitleLimp">Superfície de vidro</h2>
            <div class="card-container" id="vidro-list"></div>
            <button onclick="adicionarItemLimp('vidro')">+</button>
          </div>

          <div class="category-limp">
            <h2 class="subtitleLimp">Superfície de metálica</h2>
            <div class="card-container" id="metal-list"></div>
            <button onclick="adicionarItemLimp('metal')">+</button>
          </div>

        <div class="container">
          <button onclick="trocarSecao()">Trocar Seção</button>
          <button onclick="saveItens()">Salvar</button>
        </div>

        </div>

        <!-- Conteúdo da página do leitor de QR -->
        <div id="qr-container" style="display: none;">                   
          <div class="menu-container">
            <h1>Leitor QR-CODE</h1>
            <style>
              #cam-menu {
                  display: flex;
                  justify-content: center;
                  align-items: center;
              }
              #reader {
                  width: 600px;
              }
              #result {
                  text-align: center;
                  font-size: 1.5rem;
              }
            </style>
            <button id="scanQR-button" onclick="scanQR()">Scan</button>        
            <div id ="cam-menu">
              <div id="reader"></div>
              <div id="result"></div>
            </div>
            <button id="complete-scan" display='none'>Salvar</button>
          </div>
        </div>

        <!-- Conteúdo da página de Gerador de QR -->
        <div id="qr-generator" style="display: none;">
          <h2>Gerador QRcode</h2>
          <button id="generateQR-button" onclick="generateQR()">gerar QR</button>
          <div id="generator-result"></div>

        </div>

        <!-- Conteúdo da página de Perfil -->
        <div id="perfil" style="display: none;">
          <div class="profile-info">
            <label for="fileInput" class="profile-picture"> 
              <input type="file" id="fileInput" accept="image/*" onchange="previewImage(event)">
              <img id="preview" src="icons/icon.png" alt="Foto de Perfil" onclick="alterarImagem()">
            </label>
            <div class="user-details">
              <tr th:each="user: ${usuario}">
                <p id='perfil-nome'  name='perfil-nome'>Usuario:><td th:text="${user.getNome_usuario()}" /></p>
                <p id='perfil-email' name='perfil-email'>Email:><td th:text="${user.getEmail()}" /></p>
              </tr>
            </div>
          </div>
              <div id="opcoesPerfil">
                <p id="assinatura"><a href="#">Assinatura</a></p>
                
                <div id="trocarDados">
                  <button id='emailButton' onclick="changeEmail()">Alterar email</button>
                </div>
              </div>
              <form th:action="@{/logoff}">
                <button type='submit'>Desconectar</button>
              </form>

        </div>

        <!-- Conteúdo da página de Configuração -->
        <div id="configuracao" class="config-content" style="display: none;">
          <h2>Configuração</h2>

          <input type="checkbox" id="darklight" class="darklight">

          <div class="setting-item"> 
            <a id="sair" th:href="@{/logoff}">Sair</a>
        </div>
        <!-- Adicione outras seções conforme necessário -->
    </div>


  </body>
  <script th:src="@{styles/js/app/appTools.js}"></script>
  <script th:src="@{styles/js/app/appTheme.js}"></script>
  <script th:src="@{styles/js/app/appConfig.js}"></script>
  <script th:src="@{styles/js/app/appUser.js}"></script>
  <script th:src="@{styles/js/app/navBar.js}"></script>
  <script th:src="@{styles/js/app/estoque/formatação.js}"></script>
</html>