/* Organização do icone de usuario */

.user {
    margin-left: auto;
    padding: 10px;
    padding-right: 60px;
    padding-top: 25px;
  }
  
  .user-options {
    display: none;
    position: absolute;
    background-color: #222;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .user-options a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #EC953F;
  }
  
  .user-options a:hover {
    background-color: #101010;
  }
  
  
  