@font-face {
  font-family: 'Inter';
  src: url("../../fonts/Inter-VariableFont_slnt\,wght.ttf");
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}
#login_background{
  background-image: url("../../backgrounds/CozyRoom.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  margin-bottom: 0;
}

/* Estilo do cabeçalho */

header {

  margin: 0 auto;

  width: 100%;

  height: 70px;

  position: fixed;

  top: 0;

  left: 0;

  display: flex;

  align-items: center;

  justify-content: space-around;

  background-color: rgb(2, 2, 2, 0.5);

  box-shadow: 0px 0px 10px #000000;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Estilo da nav */

nav {
  margin: 0 auto;

  width: 100%;

  height: 70px;

  position: fixed;

  display: flex;

  align-items: center;

  justify-content: space-around;

  background-color: transparent;
}

nav-show {

  opacity: 0;
}


nav li {

  text-align: left;
  width: 100%;

}

nav ul {
  list-style-type: none;

  margin: 0 auto;

  width: 100%;

  height: 70px;

  position: fixed;

  align-items: left;

  justify-content: flex-end;

  background-color: transparent;

  list-style: none;

  display: inline-flex;

}



nav a {

  color: #ffffff;

  text-decoration: none;

  font-size: 18px;

  cursor: pointer;

}

.home {
  padding: 10px;
  padding-left: 20px;
  padding-top: 33px;
}

#home {
  color: #ffff;
  cursor: pointer;
}

#home:hover {
  color: #EC953F;
  transition: 0.3s;
}


/* Organização do icone de usuario */

.user {
  margin-left: auto;
  padding: 10px;
  padding-right: 60px;
  padding-top: 15px;
}

.user-options {
  display: none;
  position: absolute;
  background-color: #222;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.user-options a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #EC953F;
}

.user-options a:hover {
  background-color: #101010;
}

/*aaaaaa*/

h2 {
  color: #EC953F;
  text-align: center;
  font-size: 50px;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 0px;
  padding-bottom: 5%;
  padding-top: 2%;
  font-family: 'Inter'
}

label {
  color: #fff;
}

.login {
  background-color: whitesmoke;
  padding: 0px;
  width: 100%;
  height: 100vh;
}

.login-form {
  background-color: #222;
  width: 50%;
  height: 100vh; /* Definir altura como 100% da altura da viewport */
  margin-left: 50%; /* Mover o formulário para a direita */
  margin-right: auto; /* Mover o formulário para a esquerda */
  display: flex; /* Usar flexbox */
  flex-direction: column; /* Alinhar os itens verticalmente */
  justify-content: center; /* Centralizar verticalmente os itens */
  align-items: center; /* Centralizar horizontalmente os itens */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 20px #000;
}


.input-group {
  margin-bottom: 15px;
  margin-left: 0%;
  margin-top: 5%;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
  background-color: #0000;
  color: #fff;
  width: 100%;
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #fff;
}

.input-group input[type="text"]:hover,
.input-group input[type="password"]:hover {
  border: 1px solid #EC953F;
}

.input-group button {
  padding: 4px 7px;
  border: none;
  background: linear-gradient(to right, #FF3131 , #FF914D);
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  margin-left: 35%;
  margin-top: 5%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
  width: 80px;
}

.input-group button:hover {
  box-shadow: 0 12px 16px 0 rgb(0, 0, 0, 0.24), 0 17px 50px 0 rgb(0, 0, 0, 0.19);
  transition: 1s;
  background: aliceblue;
  color: #FF3131;
  transition: 0.5s;
}

#msg {
  color:#fff;
  width: 100%;
  text-align: center;
  padding-top: 4%;
  padding-left: 2%;
}

#linkCadastro {
  color: #FF914D;
  text-decoration: none;
}

#linkCadastro:hover {
  color: white;
}